$iconSpritePath: "../img/glyphicons-halflings.png";
$iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";

@import '../components/sass-bootstrap/lib/bootstrap';
@import '../components/sass-bootstrap/lib/responsive';

$orange: #fc571f;
$gray: #5d504d;
$darkGray: #333;

$regularRockwell: 14px;
$regullarScript: $regularRockwell + 3;
$largeRockwell: $regularRockwell + 3;
$largeScript: $largeRockwell + 3;
$regularMagallanes: 16px;
$largeMagallanes: $regularMagallanes + 3;

body {
	background: $orange;
	color: $white;
	@media (max-width: 767px) {
		padding: 0;
	}
}

h4 {
	font-family: 'thirsty script';
	margin: 0 0 10px;
}

.topsection {
	position: relative;
	background: #e3e9e7;
	min-height: 400px;
	@media (max-width: 767px) {
		min-height: inherit;
		max-height: 450px;
	}
	@media (max-width: 480px) {
		max-height: 250px;
	}
	.logo {
		position: absolute;
		background: url('../assets/static/images/logo.png') no-repeat center center;
		width: 212px;
		height: 123px;
		@media (min-width: 1200px) {
			width: 300px;
			height: 175px;
			margin-left: -150px;
		}
		@media (max-width: 480px) {
			width: 160px;
			margin-left: -80px;
		}
		position:absolute;
		top: 0;
		left: 50%;
		margin-left: -106px;
		z-index: 1;
		background-size: contain;
		@include transition(height 0.3s ease, width 0.3s ease, min-height 0.3s ease, max-height 0.3s ease);
	}
}

img.bgimage {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index:0;
}

.mainnav {
	padding-top: 50px;
	font-family: rockwell;
	font-size: $regularRockwell;
	@media (min-width: 1200px) {
		font-size: $largeRockwell;
	}
	text-transform: uppercase;
	ul {
		list-style: none;
		li {
			display: block;
			
			a {
				color: $gray;
				&:hover {
					text-decoration: none;
				}
				&.currentanchor {
					font-family: 'thirsty script';
					font-size: $regullarScript;
					@media (min-width: 1200px) {
						font-size: $largeScript;
					}
					text-transform: capitalize;
					border-bottom: 2px solid $orange;
					font-size: 17px;
					font-weight: 500;
				}
			}
		}
	}
}

ul.leftnav {
	float: left;
}

ul.rightnav {
	float: right;
}

ul.leftnav li, ul.rightnav li {
	float:left; margin-right: 100px;
	@media (min-width: 1200px) {
		margin-right: 200px;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		margin-right: 80px;
	}
	@include transition(margin-right 0.3s ease);
	&:last-child {
		margin-right: 0;
	}
}

.scrollcontainer {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 100%;
}

.bottomsection {
	position: relative;
	font-family: magallanes;
	font-size: $regularMagallanes;
	text-align: center;
	padding-top: 40px;
	@media (max-width: 480px) {
		padding-top: 15px;
	}
	.templateswap {
		padding: 0 40px;
		@media (max-width: 480px) {
			padding: 0 10px;
		}
	}
	@media (max-width: 480px) {
		font-size: 12px;
	}
}

.modalwindow {
	display: none;
	position: absolute;
	width: 400px;
	margin-left: -200px;
	top: 30%;
	left: 50%;
	background: rgba(255,255,255,0.8);
	border-radius: 10px;
	color: $darkGray;
	z-index: 2;
	.closebutton {
		position: absolute;
		top: 10px;
		right: 16px;
		font-size: 27px;
		cursor: pointer;
	}
	.prev {
		position: absolute;
		bottom: 10px;
		left: 15px;
		cursor: pointer;
	}
	.next {
		position: absolute;
		bottom: 10px;
		right: 15px;
		cursor: pointer;
	}
	.inner {
		padding: 20px 30px 30px;
	}
	h2 {
		font-family: 'tradegothic';
		font-size: 22px;
	}
	p {
		font-family: magallanes;
	}
}

div.pane {
	overflow: hidden;
	clear: left;
	position: relative;
}

ul.elements {
	margin: 0;
}

ul.elements li {
	width:100%;
	display: block;
	float: left;
	margin: 0;
	text-align: center;
	position: relative;
	img {
		width: 100%;
	}
}

.templates, .likestemplates {
	display: none;
}

.relative {
	display: relative;
}

@import 'partials/swipe.scss';

