$iconSpritePath: "../img/glyphicons-halflings.png";
$iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";

@import '../components/sass-bootstrap/lib/bootstrap';
@import '../components/sass-bootstrap/lib/responsive';
@import "compass/css3/transition";
@import 'partials/typography';

$orange: #fc571f;
$gray: #5d504d;
$darkGray: #333;
$highlight: #C8F526;
$red: red;

$regularRockwell: 14px;
$regullarScript: $regularRockwell + 3;
$largeRockwell: $regularRockwell + 3;
$extraLargeRockwell: $largeRockwell + 5;
$largeScript: $largeRockwell + 3;
$extraLargeScript: $largeScript + 5;
$regularMagallanes: 16px;
$largeMagallanes: $regularMagallanes + 3;
$maxMagallanes: $largeMagallanes + 2;

body {
	background: $orange;
	color: $white;
	@media (max-width: 767px) {
		padding: 0;
	}
}
a:active, a:selected, a:visited { 
	border: none;
	outline: none;
}

a {
	color: inherit;
	@include transition-property(color);
  @include transition-duration(0.2s);
	&:hover, &:active {
		text-decoration: none;
		color: #ddd;
	}
}

h4 {
	@include thirsty;
	margin: 0 0 10px;
}

.topsection {
	position: relative;
	background: #e3e9e7;
	min-height: 400px;
	@media (max-width: 767px) {
		min-height: inherit;
		max-height: 450px;
	}
	@media (max-width: 480px) {
		max-height: 250px;
	}
	.logo {
		position: absolute;
		background: url('../assets/static/images/logo.png') no-repeat center center;
		cursor: pointer;
		width: 212px;
		height: 123px;
		@media (min-width: 1800px) {
			width: 300px;
			height: 180px;
			margin-left: -150px;
		}
		@media (min-width: 1200px) and (max-width: 1799px) {
			width: 276px;
			height: 160px;
			margin-left: -138px;
		}
		@media (max-width: 480px) {
			width: 160px;
			margin-left: -80px;
		}
		position:absolute;
		top: 0;
		left: 50%;
		margin-left: -106px;
		z-index: 1;
		background-size: contain;
    -ms-behavior: url(/tfb/workspace/css/backgroundsize.min.htc);
		@include transition(height 0.3s ease, width 0.3s ease, min-height 0.3s ease, max-height 0.3s ease);
	}
}

img.bgimage {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index:0;
}

.mainnav {
	padding-top: 50px;
	@include rockwell;
	font-size: $regularRockwell;
	@media (min-width: 1200px) {
		font-size: $largeRockwell;
	}
	text-transform: uppercase;
	ul {
		list-style: none;
		li {
			display: block;
			
			a {
				color: $gray;
				&:hover, &:active {
					text-decoration: none;
				}
				&.currentanchor {
					@include thirsty;
					font-size: $regullarScript;
					@media (min-width: 1800px) {
						font-size: $extraLargeScript;
					}
					@media (min-width: 1200px) {
						font-size: $largeScript;
					}
					text-transform: none;
					border-bottom: 2px solid $orange;
					font-size: 17px;
					font-weight: 500;
				}
			}
		}
	}
}

ul.leftnav {
	float: left;
	@media (min-width: 1800px) {
		margin-left: -200px;
	}
	@include transition(margin-left 0.3s ease);
}

ul.rightnav {
	float: right;
	@media (min-width: 1800px) {
		margin-right: -200px;
	}
	@include transition(margin-right 0.3s ease);
}

ul.leftnav li, ul.rightnav li {
	float:left; margin-right: 100px;
	@media (min-width: 1800px) {
		margin-right: 300px;
		font-size: $extraLargeRockwell;
	}
	@media (min-width: 1200px) {
		margin-right: 200px;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		margin-right: 80px;
	}
	@include transition(margin-right 0.3s ease);
	&:last-child {
		margin-right: 0;
	}
}

.scrollcontainer {
	position: absolute;
	bottom: 0px;
	@media (min-width: 1200px) {
		bottom: 0;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		bottom: 0px;
	}
	@include transition(bottom 0.5s ease);
	left: 0;
	right: 0;
	width: 100%;
}

.bottomsection {
	position: relative;
	@include magallanes;
	font-size: $regularMagallanes;
	@media (min-width: 1200px) {
		font-size: $maxMagallanes;
		line-height: 1.3;
	}
	.hometemplate {
		font-size: $largeMagallanes;
		line-height: 1.3;
		@media (max-width: 480px) {
			font-size: 16px;
		}
		@media (min-width: 1200px) {
			font-size: 25px;
		}
	}
	text-align: center;
	padding-top: 40px;
	@media (max-width: 480px) {
		padding-top: 15px;
	}
	.templateswap {
		padding: 0 120px;
		@media (max-width: 979px) {
			padding: 0 40px
		}
		@media (min-width: 1200px) {
			padding: 0 180px;
		}
		@media (max-width: 480px) {
			padding: 0 10px;
		}
	}
	@media (max-width: 480px) {
		font-size: 12px;
	}
}

.modalwindow {
	display: none;
	position: absolute;
	width: 400px;
	margin-left: -200px;
	@media (min-width: 768px) and (max-width: 979px) {
		width: 400px;
		margin-left: -200px;
		bottom: 20px;
	}
	@media (min-width: 1200px) {
		width: 500px;
		margin-left: -250px;
		bottom: 120px;
	}
	@include transition(width 0.5s ease, margin-left 0.5s ease, bottom 0.5s ease);
	bottom: 60px;
	left: 50%;
	background: rgb(255,255,255);
	border-radius: 10px 10px 10px 10px;
	behavior: url(/tfb/workspace/css/pie/PIE.htc);
	color: $darkGray;
	z-index: 2;
	.closebutton {
		position: absolute;
		top: 10px;
		right: 16px;
		font-size: 27px;
		background: url('../assets/static/images/cross.png') no-repeat center center;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
	.prev {
		position: absolute;
		bottom: 20px;
		left: 20px;
		cursor: pointer;
		width: 9px;
		height: 15px;
		background: url('../assets/static/images/leftarrow.png') no-repeat center center;
	}
	.next {
		position: absolute;
		bottom: 20px;
		right: 20px;
		cursor: pointer;
		width: 9px;
		height: 15px;
		background: url('../assets/static/images/rightarrow.png') no-repeat center center;
	}
	.inner {
		padding: 20px 30px 45px;
		a {
			color: $red;
			&:hover, &:active {
				text-decoration: none;
				color: darken($red, 20%);
			}
		}
	}
	h2 {
		@include tradegothic;
		font-size: 22px;
	}
	p {
		@include magallanes;
	}
}

.facebook, .twitter, .instagram {
	width: 33px;
	height: 33px;
	display: inline-block;
	@media (min-width: 1200px) {
		width: 50px;
		height: 50px;
	}
}

.facebook {
	background: url('../assets/static/images/facebook.png') no-repeat center center;
		background-size: contain;
		-ms-behavior: url(/tfb/workspace/css/backgroundsize.min.htc);
}
.twitter {
	background: url('../assets/static/images/twitter.png') no-repeat center center;
	background-size: contain;
	-ms-behavior: url(/tfb/workspace/css/backgroundsize.min.htc);
}
.instagram {
	background: url('../assets/static/images/instagram.png') no-repeat center center;
	background-size: contain;
	-ms-behavior: url(/tfb/workspace/css/backgroundsize.min.htc);
}

div.pane {
	overflow: hidden;
	clear: left;
	position: relative;
}


ul.elements {
	margin: 0;
}

ul.elements li {
	width:100%;
	display: block;
	float: left;
	margin: 0;
	text-align: center;
	position: relative;
	&:nth-child(1) {
		margin-top:-30px;
	}
	&:nth-child(2) {
		margin-top:-20px;
	}
	img {
		width: 100%;
	}
}

.templates, .likestemplates {
	display: none;
}

.relative {
	position: relative;
}

/* keeping the main slider display block allows */
/* us to synchronise desktop and mobile scroll events */
.hidden-phone-dmc {
	@media (max-width:767px) {
		display: block!important;
		visibility: hidden!important;
	}
}

.finger {
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -25px;
	text-align: center;
	margin-top: 20px;
	display: none;
	@media (max-width: 767px) {
		&.withtouch {
			display: block;
		}
	}
}

.mobilearrows {
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
}

.mobilenext, .mobileprev {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
}

.mobilenext {
	right: 20px;
	background: url('../assets/static/images/rightarrowwhite.png') no-repeat center center;
}

.mobileprev {
	left: 20px;
	background: url('../assets/static/images/leftarrowwhite.png') no-repeat center center;
}

::selection {
	background: $highlight;
	}
::-moz-selection {
	background: $highlight;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.introimagecontainer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: $orange;
}
.introimage {
	display: none;
	position: absolute;
	background: url('../assets/static/images/intro.png') no-repeat center center;
	background-size: contain;
	-ms-behavior: url(/tfb/workspace/css/backgroundsize.min.htc);
	top: 50px;
	width: 400px;
	height: 503px;
	left: 50%;
	margin-left: -200px;

	@media (min-width: 1200px) {
		top: 100px;
		width: 600px;
		height: 700px;
		margin-left: -300px;
	}
	
	@media (max-width: 480px) {
		top: 30px;
		width: 250px;
		height:300px;
		margin-left: -125px;

	}
	@include transition(top 0.3s ease);
}

.showlikes {
	position:absolute;
	height:100%;
	cursor: pointer;

	// background: $orange;
	// opacity: 0.2;

	&[rel='1'] { left:36.2%; width:4%; }
	&[rel='2'] { left:43.2%; width:5.5%; }
	&[rel='3'] { left:50.5%; width:3.5%; }
	&[rel='4'] { left:55.8%; width:5%; }
	&[rel='5'] { left:60.8%; width:3.5%; }
}

.showlikes img {
	width: 100%;
	height: 100%;
}

.phonesocialmedia {
	margin-top: 20px;
	text-align: center;
	a {
		margin-right: 20px;
	}
}

@import 'partials/swipe.scss';

